.text-center{
    text-align: center;
}
body{
    background: whitesmoke;
}
.box{
    background: black;
    padding: 20px 0;
    border-radius: 20px;
    border:5px solid white;
    box-shadow: 0 0 20px grey ,0 0 30px #00000059;
}
.font{
    color:white;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.row{
    display: flex;
}
.mr-auto{
    margin: auto;
}
.mx-w{
    max-width: 350px;
}
.f-col{
    display: flex;
    flex-direction: column;
}
.f-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    text-align: center;
    width:20px;
    padding: 20px;
    border:2px solid;
    border-radius: 10px;
    cursor: pointer;
}
.g-10{
    gap:10px;
}
.row input{
    color:black;
    padding: 10px 15px;
    border: 2px solid;
    border-radius: 8px;
}
.bg-lg{
    background: #d3d3d3a2;
}
.bg-o{
    background: orange;
}
.bg-g{
    background: #444343;
}
@media screen and (max-width: 600px) {
  .row input {
    width:80%;
    padding: 10px 0;
  }
}
